@media (max-width: 615px){
    //Home Page
    .nav-link-wrapper {
        margin-right: 10px;
    }
    .right-side {
        .secret-sign-in {
            font-size: .8rem;
        }
    }   
    .portfolio-items-wrapper {
        grid-template-columns: 1fr;
    }     
    .portfolio-item-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .image-text-wrapper {
        width: 100vw;
    }
    .subtitle {
        display: none;
    }

    //Portfolio Detail
    .bottom-content-wrapper{
        margin-bottom: 50px;
    }

    //About Page
    .content-page-wrapper .right-column{
        padding: 0px;
    }
    .content-page-wrapper{
        width: 100vw;
        grid-template-columns: 1fr;
    }
    .left-column {
        height: 400px;
        width: 100vw;
    }
    .right-column {
        margin-bottom: 50px;
        width: 100vw;
        .contact-bullet-points {
            width: 80vw;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .name{
            width: 100vw;
            text-align: center;
            padding-top: 20px;
        }
        .bio {
            width: 80vw;
            padding-top: 20px;
        }
    }

    //Contact Page 
    .contact-bullet-points{
        font-size: .8rem;
    }

    //auth page
    .auth-page-wrapper {
        grid-template-columns: 1fr;
    }

    //blog
    .blog-container .content-container {
        width: unset;
    }
    .blog-container{
        width: 100vw;
    }
    .content-container{
        width: 80vw !important;
    }
}