.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .portfolio-item-wrapper {
        position: relative;

        .portfolio-img-background {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 350px;
            width: 100%;
            filter: brightness(75%);
        }

        .img-text-wrapper {
            position: absolute;
            top: 0;
            // display: grid;
            // grid-template-rows: 1fr 2fr 3fr;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 100%;
            text-align: center;
            padding-left: 100px;
            padding-right: 100px;

            .title-wrapper{
                color: $teal;
                height: 20%;
                line-height: 1em;
                font-size: 1.5rem;
                margin-top: 10px;
            }

            .subtitle {
                height: 40%;
                transition: .5s ease-in-out;
                color: transparent;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .img-text-wrapper:hover .subtitle {
            color: $teal;
            font-weight: 400;
        }

        .logo-wrapper img {
            width: 50%;
            margin-bottom: 20px;
        }
        .logo-wrapper{
            max-height: 50%;        }

        .image-blur {
            transition: .5s ease-in-out;
            filter: brightness(10%);
        }
        .image-blur-out {
            transition: .5s ease-in-out;
            filter: brightness(80%);
        }
    }
}